@import url("https://fonts.googleapis.com/css?family=Mirza&amp;subset=latin-ext");
* {
  box-sizing: border-box;
}

body {
  background-color: #928A97;
  background-image: url("../bg.jpeg");
  background-repeat: no-repeat;
  backdrop-filter: blur(3px);
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select:none;
}
.card {
  -webkit-perspective: 1500px;
  perspective: 1500px;
  position: absolute;
  left: calc(50% - 175px);
  top: calc(50% - 250px);
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-delay: initial;
  -webkit-transform: rotate(-10deg) translate(0, 0);
  transform: rotate(-10deg) translate(0, 0);
  -webkit-animation: cardIn 1s alternate cubic-bezier(0.87, -0.41, 0.19, 1.44);
  animation: cardIn 1s alternate cubic-bezier(0.87, -0.41, 0.19, 1.44);
}
@media (max-width: 767px) {
  .card {
    left: calc(50% - 115px);
    top: calc(50% - 164.5px);
  }
}
@media (max-width: 479px) {
  .card {
    left: calc(50% - 75px);
    top: calc(50% - 107px);
  }
}
.card:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 50px #000;
  transition: all 0.5s ease-in-out;
}
.card.is-opened {
  -webkit-transform: rotate(0deg) translate(175px, 0);
  transform: rotate(0deg) translate(175px, 0);
}
@media (max-width: 767px) {
  .card.is-opened {
    -webkit-transform: rotate(0deg) translate(115px, 0);
    transform: rotate(0deg) translate(115px, 0);
  }
}
@media (max-width: 479px) {
  .card.is-opened {
    -webkit-transform: rotate(0deg) translate(75px, 0);
    transform: rotate(0deg) translate(75px, 0);
  }
}
.card.is-opened .cart-page-front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

@-webkit-keyframes cardIn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(-10deg) translate(0, -100%);
    transform: rotate(-10deg) translate(0, -100%);
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(-10deg) translate(0, 0);
    transform: rotate(-10deg) translate(0, 0);
  }
}

@keyframes cardIn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(-10deg) translate(0, -100%);
    transform: rotate(-10deg) translate(0, -100%);
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(-10deg) translate(0, 0);
    transform: rotate(-10deg) translate(0, 0);
  }
}
.card,
.card-page {
  width: 400px;
  height: 500px;
}
@media (max-width: 767px) {
  .card,
  .card-page {
    width: 230px;
    height: 329px;
  }
}
@media (max-width: 479px) {
  .card,
  .card-page {
    width: 150px;
    height: 214px;
  }
}

.card-page {
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  cursor: pointer;
  position: absolute;
  outline: 1px solid transparent;
}

.cart-page-front {
  -webkit-transform-origin: 0 50% 0;
  transform-origin: 0 50% 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(-20deg);
  transform: rotateY(-20deg);
  z-index: 2;
}

.cart-page-outside,
.cart-page-inside {
  position: absolute;
  -webkit-backface-visibility: hidden;
}

.cart-page-outside {
  border: 10px solid #fbfbfb;
  background: #c72320 url("../bg.png") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
@media (max-width: 767px) {
  .cart-page-outside {
    border: 5px solid #fbfbfb;
  }
}

.cart-page-inside,
.cart-page-bottom {
  user-select:none;
  background-color: #d4d1d0;
  background-image: url("../pattern.png?raw=1");
  border: 20px solid #d4d1d0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -moz-flex;
  display: flex;
  box-pack: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  box-align: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  text-align: center;
}
@media (max-width: 767px) {
  .cart-page-inside,
  .cart-page-bottom {
    border: 10px solid #d4d1d0;
  }
}

.cart-page-inside {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg) ;
  border-right: none !important;
  background-position: 0px 80px;
}
@media (max-width: 767px) {
  .cart-page-inside {
    background-position: 0px 30px;
  }
}
@media (max-width: 479px) {
  .cart-page-inside {
    background-position: 0px 30px;
  }
}

.cart-page-bottom {
  z-index: 1;
  border-left: none !important;
  background-position: -22px 80px;
}
@media (max-width: 767px) {
  .cart-page-bottom {
    background-position: 85px 30px;
  }
}
@media (max-width: 479px) {
  .cart-page-bottom {
    background-position: 0px 30px;
  }
}

.merry-christmas {
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg) translateX(-10px);
}
.merry-christmas svg {
  width: 350px;
  height: auto;
}
@media (max-width: 767px) {
  .merry-christmas svg {
    width: 200px;
  }
}
@media (max-width: 479px) {
  .merry-christmas svg {
    width: 150px;
  }
}

.click-icon {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  bottom: 20px;
  -webkit-animation: iconAnimation 1s infinite alternate ease-in-out;
  animation: iconAnimation 1s infinite alternate ease-in-out;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}
.click-icon svg {
  width: 96px;
  height: 96px;
}
@media (max-width: 767px) {
  .click-icon svg {
    width: 72px;
    height: 72px;
  }
}
@media (max-width: 479px) {
  .click-icon svg {
    width: 48px;
    height: 48px;
  }
}
.click-icon.is-hidden {
  opacity: 0;
}

@-webkit-keyframes iconAnimation {
  0% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  100% {
    -webkit-transform: translate(-50%, 10px);
    transform: translate(-50%, 10px);
  }
}

@keyframes iconAnimation {
  0% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  100% {
    -webkit-transform: translate(-50%, 10px);
    transform: translate(-50%, 10px);
  }
}
p {
  font-family: "Mirza", Verdana, Arial, serif;
  font-size: 36px;
  line-height: 1.2em;
  padding-left: 10px;
}
@media (max-width: 767px) {
  p {
    font-size: 24px;
  }
}
@media (max-width: 479px) {
  p {
    font-size: 20px;
  }
}



:root {
  --mail: #555B77;
  --mail-triangle: #494F69;
  --mail-background: #404660;
  --mail-shadow: #D1D6EE;
  --paper-border: #D1D6EE;

  --background: #F3F0D7;
  --background-decor: #DBD0C0;
  

  /* Colors for the elements on your card */ 
  --banner-bg: #1C0C5B;
  --banner-txt: white;

  /* Message area colors */ 
  --message-bg: #F1EDE9;
  --message-line: #94ACD4;
  --message-txt: #333333;

  /* Fonts */ 
  --font-banner: 'Abril Fatface', cursive;
  --font-text: 'Shadows Into Light', cursive;

  /* Space and other details */
  --space: 16px;
  --space-xsm: 4px;
  --space-sm: 8px;
  --space-lg: 24px;
  --space-xlg: 48px;
}


#unsubscribe .letter {
  width: 60%;
  height: 38%;
  margin: 26px auto;
  position: relative;
  -webkit-animation: letter 2s ease infinite;
          animation: letter 2s ease infinite;
}
#unsubscribe .letter:before, #unsubscribe .letter:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 65%;
  z-index: 1;
}
#unsubscribe .letter:before {
  background: var(--mail);
  -webkit-clip-path: polygon(0 0, 50% 55%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 50% 55%, 100% 0, 100% 100%, 0 100%);
}
#unsubscribe .letter:after {
  background: var(--mail-triangle);
  -webkit-clip-path: polygon(0 100%, 50% 55%, 100% 100%);
          clip-path: polygon(0 100%, 50% 55%, 100% 100%);
}
#unsubscribe .letter .background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--mail-background);
  -webkit-clip-path: polygon(0 24px, 50% 0, 100% 24px, 100% 100%, 0 100%);
          clip-path: polygon(0 24px, 50% 0, 100% 24px, 100% 100%, 0 100%);
}
#unsubscribe .letter .shadow {
  background: black;
  width: 92px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
  top: 108%;
  left: -4px;
  background: var(--mail-shadow);
  -webkit-animation: shadow 2s ease infinite;
          animation: shadow 2s ease infinite;
}
#unsubscribe .letter .body {
  width: 360px;
  height: 260px;
  bottom: 0;
  left: -138px;
  border-radius: 1px;
  background: white;
  box-shadow: inset 0 0 0 1px var(--paper-border);
  position: absolute;
  -webkit-transform: translateY(36%) translateZ(0) scale(0.2, 0.16) rotate(90deg);
          transform: translateY(36%) translateZ(0) scale(0.2, 0.16) rotate(90deg);
}
@-webkit-keyframes letter {
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}
@keyframes letter {
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}
@-webkit-keyframes shadow {
  50% {
    opacity: .7;
    -webkit-transform: translateY(4px) scale(0.8);
            transform: translateY(4px) scale(0.8);
  }
}
@keyframes shadow {
  50% {
    opacity: .7;
    -webkit-transform: translateY(4px) scale(0.8);
            transform: translateY(4px) scale(0.8);
  }
}

.bday-card {
  
  z-index: 999;
  /* display: flex; */
  display:none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position:absolute;
  height: 100vh;
  width: 100vw;
  padding-top: var(--space-lg);
  overflow: hidden;

  /* background color - here we are using the variable we created earlier! */ 
  background-color: var(--background);

  /* background pattern - remove the lines below and paste the new code if you want to use a different style */ 
  background-image: radial-gradient(var(--background-decor) 20%, transparent 0), radial-gradient(var(--background-decor) 20%, transparent 0);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}

.bday-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 240px;
  padding: var(--space-sm) var(--space-sm) var(--space-xlg);
  background: white;
  border-radius: 4px;
  box-shadow: var(--space-xsm) var(--space-xsm) 15px rgba(0,0,0, .15);

  /* Edit the Translate property below to adjust the position of your picture */ 
  transform: rotate(5deg) translate(20px, 45px);
}

.bday-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bday-decor--container {
  position: relative;
}

.bday-banner {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-size: 42px;
  z-index: 1;

  /* Play around with those properties to change your banner styling */ 
  color: var(--banner-txt);
  font-family: var(--font-banner);
  text-transform: uppercase;
  transform: rotate(-5deg);
  gap: var(--space-sm) 0;
}

.bday-banner span {
  background: var(--banner-bg);
  padding: var(--space) var(--space-lg);
  flex-grow: 0;
}

.bday-banner span:nth-child(2) {
  margin-left: var(--space-lg);
}


.bday-message {
  max-width: 80%;
  padding: 16px var(--space);
  font-family: var(--font-text);
  font-size: 14px;
  line-height: 32px;
  color: var(--message-txt);
  background-color: var(--message-bg);
}

/* Paper */
.bday-message--paper {
  background: repeating-linear-gradient(var(--message-bg), var(--message-bg) 31px, var(--message-line) 31px, var(--message-line) 32px);
  box-shadow: var(--space-xsm) var(--space-xsm) 15px rgba(0,0,0, .15);
}
/* End - Paper */

/* Block right */
.bday-message--block-right {
  position: relative;
}

.bday-message--block-right::before {
  content: "";
  width: 100vw;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--paper);
  z-index: -1;
}
/* End - Block right */

/* Block left */
.bday-message--block-left {
  position: relative;
}

.bday-message--block-left::before {
  content: "";
  width: 100vw;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: var(--paper);
  z-index: -1;
}
/* End - Block left */


.bday-decor {
  /* Emojis are text - so here we are setting a font-size to make them bigger */ 
  font-size: 96px;
}

/* Positioning for the emojis - play around with the values to change the placement of your decorations */ 
.bday-decor--top-right { 
  position: absolute;
  bottom: -70px;
  right: -20px;
}

.bday-decor--top-left {
  position: absolute;
  bottom: 0px;
  left: -25px;
}

.bday-decor--bottom-right {
  position: absolute; 
  right: 20px;
}

/* Animations */ 

/* Here we designate an specific animation to an specific element using a class. We have a defined name, time and iteration-count for each animation. We can also define the origin point from which the animation will happen - the default is the center. */  
.zoom-left-in-out {
  animation-name: zoom-left-in-out;
  animation-duration: 1.75s;
  animation-iteration-count: infinite;
  transform-origin: left bottom;
}

/* Here we specify what will change on the element when they animate */ 
@keyframes zoom-left-in-out {
  /* Animation will start and end with the same settings */ 
  0%, 100% {
    transform: scale(0.95) rotate(2deg);
  }

  /* Animation will reach those settings 50% into the duration time we set on the declaration */
  50% {
    transform: scale(1) rotate(-2deg);
  }
}

/* pulse */ 
.pulse {
  animation-name: pulse;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1);
  }
}
/* pulse - End */

/* float */ 
.float {
  animation-name: float;
  animation-duration: 1.9s;
  animation-iteration-count: infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
}
/* float - End */

/* spin */ 
.spin {
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}